.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: zoom-in;
}

.glyphicon {
  margin-right:5px;
}
.rating .glyphicon {
  font-size: 22px;
}
.rating-num {
  margin-top:0px;font-size: 54px;
}
.progress {
  margin-bottom: 5px;
}
.progress-bar {
  text-align: left;
}
.rating-desc .col-md-3 {
  padding-right: 0px;
}
.sr-only {
  margin-left: 5px;overflow: visible;clip: auto;
}
