body{
  font-family: 'Lato', sans-serif;
}

header .area-preta{
  background-color: #706f6f;
  padding: 10px 0;
}

.search-bar {
  width: 500px !important;
}

header{
  background-image: url(../imagens/estadio-copy.jpg);
  background-size: cover;
}

hr{
  background-color: #bdbdbd;
}

.mr-1{
  margin-right: 10px !important;
}

.mb-0{
  margin-bottom: 90px !important;
}

.mb-1{
  margin-bottom: 40px !important;
}

.mt-0{
  margin-top: 90px !important;
}

.mt-3{
  margin-top: 40px !important;
}

.mt-1{
  margin-top: 30px !important;
}

.form{
  max-width: 600px !important;
}

footer{
  background-color: #706f6f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cor{
  color: rgb(80, 249, 178);
}
